<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="vanjskiProzor">
        <div class="unutarnjiProzor">
            <h2>Homepage</h2>
            <a href="/profile">Korisnički profil</a>
            <a href="/dohvatcsvjson">Osvježi preslike</a>
            <a href="/logout">Logout iz API</a>
        </div>
    </div>
</body>
</html>